@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortfolioSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortfolioSite.styles.css" asp-append-version="true" />
    </head>
    <body>
        <div class="outcontainer">
            <div class="conteiner">
                <div class="greeting">
                    <h3>HELLO, I AM</h3>
                </div>
                <div class="logoname">
                    <h1>SERGEY</h1>
                </div>
                <div class="about">
                    <p>There will be something about me.</p>
                </div>
                <div class="blogbutton">
                    <button><span>See more</span></button>
                </div>
            </div>
        <div class="inerconteiner">
            <div class="mainsceenanimation">

            </div>
        </div>     
        <div>
    </body>
</html>